@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,700;1,600&display=swap');
@import './variables';
@import './mixin';

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   font-family: 'Barlow Semi Condensed', sans-serif;
   background: radial-gradient(circle at top, $background1 10%, $background2)
      no-repeat;
   min-height: 100vh;
}

#root {
   padding: 0 3rem;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
}

button {
   background: none;
   border: none;
}
