$scissors1: hsl(39, 89%, 49%);
$scissors2: hsl(40, 84%, 53%);
$paper1: hsl(230, 89%, 62%);
$paper2: hsl(230, 89%, 65%);
$rock1: hsl(349, 71%, 52%);
$rock2: hsl(349, 70%, 56%);
$lizard1: hsl(261, 73%, 60%);
$lizard2: hsl(261, 72%, 63%);
$cyan1: hsl(189, 59%, 53%);
$cyan2: hsl(189, 58%, 57%);

$dark-text: hsl(229, 25%, 31%);
$score-text: hsl(229, 64%, 46%);
$header-outline: hsl(217, 16%, 45%);

$background1: hsl(214, 47%, 23%);
$background2: hsl(237, 49%, 15%);

$desktop-w: 70rem;
$tablet-w: 47.5rem;
$mobile-w: 31.5rem;

$bp-1: 992px;
$bp-2: 800px;
$bp-3: 580px;
